 
:root {
    --purple: #8a6393;
    --light-purple: #d1c5dd;
    --light-green: #a4edc5;
    --green: #167862;
    --dark-blue: #232c3c;
  }
 
 @font-face {
    font-family: norse-bold;
    src: url('./Norse-Bold.otf') ;
    font-weight: normal;
    font-style: normal;

 }
 .container {
    display: flex;
    
 }
.bg {
    background-image: url('https://images.unsplash.com/photo-1571266028243-d220c6a7edbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    width: 45vw;
    min-width: 345px; 
    height: 100vh;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.main {
   
    background-color: black;
    color: white; 
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo {
    height: 20vh;
    
    width: inherit;
    background-color: rgba(20, 18, 18, 0.75);
    color: whitesmoke;
    text-align: center;
    font-size: 4.5rem;
    font-family: norse-bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 12vh;
    margin-right: 5px;
    
}
.credit {
    position: absolute;
    bottom: 0px;
    left: 5px;
    color:beige;
}


.content {
    margin-top: 46px;
    margin-left: 78px;
    line-height: 1.65;
    height: 100%;
    
}
.form-container {
    margin-top: 46px;
    margin-left: 78px;
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: auto;


}
 input {
    width: 275px;
    border:2px solid #E5E7EB;
 }

 /* input:invalid {
    border: 2px solid red;
 }
  */
label {
    display: inline-block;
    width: 240px;
    text-align: left;
    
  }​

.error-wrapper {
/* position: relative; */
margin-top: -1.5rem;

}
.pass-error-msg {
display: none; 
/* position: absolute; */
color:rgb(255, 255, 255);
font-size: 0.8rem;
/* right: 32rem;
bottom: 8.5rem; */
margin-top: -28px;
}


button.submit {
    font-family: DMSerif, serif;
    background-color: var(--green);
    cursor: pointer;

    margin-left: 78px;
  }

button:hover {
    background-color: #23816d;
  }
  
  button:focus {
    box-shadow: 0 0 0 2px #0f1015,
                0 0 0 3px var(--light-green);
  }
.member {
    
    margin-left: 78px;
}